ActionBar {
    height: 0;
}

Page {
    background-color: #000;
    font-family: 'SF_Cartoonist_Hand';
}

.mensaje {
    background-color: #000;
    opacity: 0.3;
    height: 23%;
}

.mensajeLabel {
    margin: 50 100 50 100;
    color: #fff;
    text-align: center;
    font-size: 80;
    font-family: 'SF_Cartoonist_Hand_Bold';
}

.modalSolicitud {
    background-image: url("~/images/bg1.png");
}

.contenedor {
    vertical-align: middle;
    width: 70%;
    height: 100%;
    color: #fff;
    font-size: 60;
    text-align: center;
    padding: 100;
}

.cabecera {
    margin-bottom: 100;
}

TextField {
    border-bottom-style: solid;
    border-bottom-width: 4;
    border-bottom-color: #fff;
    margin-top: 50;
    color: #fff;
}

.validar {
    color: #ee1d23;
    font-weight: bold;
    font-size: 20%;
}

.button {
    border-style: solid;
    border-width: 7;
    border-color: #fff;
    margin-top: 200;
    background-color: #aaa;
}

.labelGracias{
    margin-top: 100;
}

.labelTienda{
    margin-top: 200;
    text-decoration: underline;
}

.modalMensaje {
    color: #fff;
    font-size: 150;
    text-align: center;
    width: 70%;
}